/* Genel ayarlar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/poppins.woff2') format('woff2');
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
    color: #333;
}

/* Login kutusunun çevresi */
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login-card {
    background: #fff;
    width: 100%;
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Başlık ve alt başlık */
.title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.subtitle {
    font-size: 1rem;
    color: #777;
    margin-bottom: 20px;
}

/* Input grubu */
.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: 0.3s ease;
}

.input-group input:focus {
    border-color: #4facfe;
    box-shadow: 0 0 5px rgba(79, 172, 254, 0.5);
}

/* Giriş butonu */
.btn {
    display: block;
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 10px;
}

.btn:hover {
    background: linear-gradient(135deg, #00f2fe 0%, #4facfe 100%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Hata mesajı */
#error-message {
    margin-top: 15px;
    color: red;
    font-size: 0.9rem;
}
